## Sample code for Dataset on 10 HP printers usages from one customer in Beijing, China

In [ ]:
"""
#########################################################################################
#-> Notes:
#   1) Directly Run "Part 1 Function Loading"
#   2) In Part 2, set the directory of input files for "path_Train" and "path_Test".
#      And enjoy your journey implementing any prediction method.
#########################################################################################
"""

In [1]:

import pandas as pd
import datetime
import numpy as np

In [2]:
"""
    Part 1:::Function Loading
"""

#==========================================
#-> Function transform()
#==========================================
def transform(path):

    df = pd.read_csv(  open( path , 'rb') , low_memory = False )

    printerIdx = np.array(df['printerIndex'])
    usage = np.array(df['usage'])
    date = np.array(df['date'])

    numofkinds = len(np.unique(printerIdx))
    numofday = len(np.unique(date))

    date = np.unique(date)
    usage = np.reshape(usage, [numofkinds, numofday])

    df_output = pd.DataFrame(usage)
    df_output.columns = date

    return df_output
#==========================================
#-> Function DataLoading()
#==========================================
def DataLoading(path):
    Dataset = transform(path)

    TOTALDAYNUM = Dataset.shape[1]
    TOTALDEVICENUM = Dataset.shape[0]

    for colIdx in range( TOTALDAYNUM ):
        tmpDate  = datetime.datetime.strptime( Dataset.columns[ colIdx ], '%Y-%m-%d %H:%M:%S.%f')
        Dataset.rename(columns = {Dataset.columns[ colIdx ]:tmpDate}, inplace = True)

    Dataset = Dataset.transpose()

    Dataset.index.name = 'Datetime'
    Dataset.reset_index(inplace=True)

    for colIdx in range( TOTALDEVICENUM ):
        tmpColName  = 'PrinterIdx' + str( Dataset.columns[ colIdx+1 ]  )
        Dataset.rename(columns = {Dataset.columns[ colIdx + 1 ]:tmpColName}, inplace = True)
    date = Dataset.iloc[:,0].values
    return Dataset, date

In [3]:
"""
    Part 2:::Data Input and Prediction
"""

'\n    Part 2:::Data Input and Prediction\n'

In [4]:
"""
    Model_Beijing_Assignment.csv
    Notes:
    -> Model_Beijing _Assignment.csv contains table for these 10 printer usages to
        train and evaluate your method spanning from 2015/11/1 to 2018/7/20 (in total 993 days).
"""
path_Train = "D:/Model_Beijing_Assignment.csv"
df_Train, Train_date = DataLoading(path_Train)

In [5]:
df_Train

,Datetime,PrinterIdx0,PrinterIdx1,PrinterIdx2,PrinterIdx3,PrinterIdx4,PrinterIdx5,PrinterIdx6,PrinterIdx7,PrinterIdx8,PrinterIdx9
0,2015-11-01,1071.0,6053.0,1858.0,1401.0,2314.0,349.0,455.0,2719.0,3671.0,22.0
1,2015-11-02,101.0,166.0,89.0,92.0,132.0,64.0,12.0,40.0,294.0,0.0
2,2015-11-03,24.0,205.0,103.0,147.0,101.0,14.0,100.0,57.0,158.0,0.0
3,2015-11-04,28.0,408.0,65.0,29.0,72.0,5.0,10.0,199.0,298.0,0.0
4,2015-11-05,14.0,58.0,32.0,56.0,32.0,11.0,14.0,64.0,117.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
988,2018-07-16,38.0,78.0,13.0,32.0,28.0,0.0,87.0,1.0,44.0,1.0
989,2018-07-17,6.0,33.0,107.0,17.0,41.0,1.0,50.0,39.0,112.0,10.0
990,2018-07-18,0.0,71.0,158.0,47.0,38.0,2.0,23.0,187.0,150.0,0.0
991,2018-07-19,0.0,0.0,126.0,20.0,0.0,0.0,1.0,25.0,0.0,0.0
992,2018-07-20,51.0,194.0,101.0,32.0,105.0,15.0,19.0,50.0,271.0,3.0

In [6]:
"""
    Predict_Beijing_Assignment.csv
    Notes:
    -> Predict_Beijing _Assignment.csv contains table for these 10 printer usages to
       fill in your prediction value spanning from 2018/7/21 to 2018/10/28 (in total 100 days).
"""

path_Test= "D:/Predict_Beijing_Assignment.csv"
df_Test, Test_date = DataLoading(path_Test)

In [7]:
df_Test

,Datetime,PrinterIdx0,PrinterIdx1,PrinterIdx2,PrinterIdx3,PrinterIdx4,PrinterIdx5,PrinterIdx6,PrinterIdx7,PrinterIdx8,PrinterIdx9
0,2018-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,2018-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2018-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2018-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2018-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2018-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN